<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.dao.CheckOnMapper">

    <insert id="add">
        insert into checkon (begintime, endtime, beginstate, endstate, today, month,employeeid) values (#{beginTime},#{endTime},#{beginState},#{endState},#{today},#{month},#{employeeId});
    </insert>
    <update id="update">
        update checkon set begintime = #{beginTime},endTime=#{endTime},beginState=#{beginState},endState=#{endState},today=#{today},month=#{month},employeeId=#{employeeId} where id=#{id};
    </update>
    <select id="queryByToday" resultType="com.zf.model.CheckOn">
        select * from checkon where today=#{today};
    </select>
</mapper>