<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.dao.EmployeeMapper">

    <insert id="add">
        insert into employee (name,sex,birthday,state, postid, userid, trainid, createtime)
        values (#{name},#{sex},#{birthday},#{state},#{postId},#{userId},#{trainId},#{createTime});
    </insert>
    <update id="update">
        update employee set name=#{name},sex=#{sex},birthday=#{birthday}, state = #{state},postId=#{postId},userId=#{userId},trainId=#{trainId},createTime=#{createTime} where id=#{id};
    </update>
    <select id="queryById" resultType="com.zf.model.Employee">
        select * from employee where id=#{id};
    </select>
    <select id="queryByUserId" resultType="com.zf.model.Employee">
        select * from employee where userid=#{userId} and state!=0;
    </select>
    <select id="queryByPostId" resultType="com.zf.model.Employee">
        select * from employee where postid=#{postId};
    </select>
    <select id="queryPage" resultType="com.zf.model.Employee">
        select * from employee where postid=#{postId} limit #{1},#{2};
    </select>
    <select id="queryByLikeName" resultType="com.zf.model.Employee">
        select * from employee where name like '${value}';
    </select>
    <select id="queryByTrainId" resultType="com.zf.model.Employee">
        select * from employee where trainid=#{trainId};
    </select>
</mapper>