<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.dao.PostMapper">

    <insert id="add">
        insert into post (name, deptid, description, createtime) values (#{name},#{deptId},#{description},#{createTime});
    </insert>
    <delete id="delete">
        delete from post where id=#{id};
    </delete>
    <delete id="deleteByDeptId">
        delete from post where deptid=#{deptId};
    </delete>
    <select id="queryById" resultType="com.zf.model.Post">
        select * from post where id=#{id};
    </select>
    <select id="queryAll" resultType="com.zf.model.Post">
        select * from post;
    </select>
    <select id="queryByDeptId" resultType="com.zf.model.Post">
        select * from post where deptid=#{deptId};
    </select>
</mapper>