<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.dao.ResumeMapper">

    <insert id="add">
        insert into resume (name,sex,birthplace, birthday, nation, politicalstatus, healthy, marriage, education,phone,email, major, school, competence,post,experience, award, selfcomment, hobbyorspeciality, state, userid, recruitid,createtime,interviewtime)
        values (#{name},#{sex},#{birthPlace},#{birthday},#{nation},#{politicalStatus},#{healthy},#{marriage},#{education},#{phone},#{email}, #{major},#{school},#{competence},#{post},#{experience},#{award},#{selfComment},#{hobbyOrSpeciality},#{state},#{userId},#{recruitId},#{createTime},#{interviewTime});
    </insert>
    <update id="update">
        update resume set name=#{name},sex=#{sex},birthplace = #{birthPlace},birthday=#{birthday},nation=#{nation},politicalstatus=#{politicalStatus},healthy=#{healthy},marriage=#{marriage},education=#{education},phone=#{phone},email=#{email}, major=#{major},school=#{school},competence=#{competence},post=#{post},experience=#{experience},award=#{award},selfcomment=#{selfComment},hobbyOrSpeciality=#{hobbyOrSpeciality},state=#{state},userid=#{userId},recruitId=#{recruitId},createTime=#{createTime},interviewTime=#{interviewTime} where id=#{id};
    </update>
    <select id="queryUserId" resultType="com.zf.model.Resume">
        select * from resume where userid=#{userId};
    </select>
    <select id="queryById" resultType="com.zf.model.Resume">
        select * from resume where id=#{id};
    </select>
    <select id="queryAll" resultType="com.zf.model.Resume">
        select * from resume where state!=0;
    </select>
    <select id="queryPage" resultType="com.zf.model.Resume">
        select * from resume where state!=0 limit #{0},#{1};
    </select>
</mapper>