<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zf.dao.UserMapper">

    <insert id="addUser">
        insert into user (name,pass,sex,age,phone,email,createtime) values (#{name},#{pass},#{sex},#{age},#{phone},#{email},#{createTime});
    </insert>
    <select id="queryByName" resultType="com.zf.model.User">
        select * from user where name=#{name};
    </select>
</mapper>